.header
  .notification
    = render :partial => "devise/shared/side_bar"
    .chat-main
      .chat-main__header
        .chat-main__header-clear-fixed
          %ul
            %li.chat-main__header--group-name techA
            %li.chat-main__header--group-members MEMBER: a
            %li
              =link_to "edit","#", class: "btn"
      .group
        = render partial: "message", collection: @messages
      .footer
        .form
          = form_for [@group, @message] do |f|
            =f.text_field :content, class: "form__message",placeholder: "type a message"
            .form__mask
              = f.label :image, class: "form__mask__image" do
                =fa_icon "fa-picture-o", class: "icon"
                =f.file_field :image, class: "hidden"
            = f.submit "Send", class: "form__submit"



/ %a.chat-main__header--group-edit-btn =link_to "edit","#",method: :get
